@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: "hd hd hd hd hd hd hd hd hd" "mn mn mn mn mn mn mn sb sb" "ft ft ft ft ft ft ft ft ft";
    gap: 0.5rem;
}

.App {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 70vw;
    margin: 10px;
}

.el {
    background-color: rebeccapurple;
    color: #fff;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
    background-color: #00f;
}

.footer {
    grid-area: ft;
}

.container {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr);
    /* the minimum height for each row is 150px and the maximum is autofill container */
    grid-auto-rows: minmax(150px, auto);
    /* gaps between rows or columns */
    gap: 1em 0.5em;
    /* gap: row column*/
}

.box {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px red solid;
}

.box:first-child {
    background-color: blue;
    /* define how many columns and rows this item takes */
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
    /* short form */
    /* grid-column: start/end */
    grid-column: 1 / 4;
    grid-row: 1/3;
    display: grid;
    /* align-content: center;
    justify-content: center; */
    /* place-content: alighn justify */
    place-content: end center;
    place-content: center;
}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}


/* gridgarden.com */